.htmlText{
	text-align: center;
  width: 100%;
}

.htmlText p{
	text-align: left;
	padding: 0 10%;
}

.imageHolder {
  max-width: 560px;
  position: relative;
  margin: auto;
}

.slide{
	display: none;
}

.slide img{
	width: 560px;
	height: auto;
}

#imageText{
	color: rgb(255,255,255);
  font-size: 16px;
	background-color: rgba(0,0,0,.5);
  border-radius: 0 12px 0 0;
  padding: 8px 0 8px 2px;
  position: absolute;
  bottom: 4px;
  max-width: 85%;
  width: fit-content;
  height: auto;
  text-align: center;
}

#numberText{
	color: rgb(255,255,255);
  font-style: italic;
  font-size: 12px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 40px;
  border-radius: 10px;
  top: 8px;
  right: 12px;
}

#prevImage, #nextImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#nextImage {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#prevImage {
	left: 0;
}

#prevImage:hover, #nextImage:hover{
	background-color: rgba(0,0,0,0.8);
	transition-duration: 0.45s;
}

.imageDot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: rgb(150,150,150);
  border-radius: 50%;
  display: inline-block;
  transition-duration: 0.25s;
}

.imageDot.active, .imageDot:hover {
	background-color: rgb(255,255,255);
	transition-duration: 0.35s;
}