.accordion_button{
  background-color: rgb(25,25,25);
  color: rgb(222,222,222);
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  left: 0;
  text-align: center;
  outline: none;
  font-size: 21px;
  transition: 0.3s;
  right: 0;
}

.active, .accordion_button:hover {
  background-color: rgb(20,20,20); 
}

.accordion_panel{
  padding: 0px 18px;
  display: block;
  font-size: 18px;
  background-color: rgb(30,30,30);
  overflow: auto;
  text-align: left;
  height: 0;
}

.accordion_panel p, .accordion_panel a{
  font-size: 20px;
  color: rgb(222,222,222);
  font-weight: normal;
}


.accordion_panel a:hover{
	color: rgb(255,255,255);
	text-decoration-line: underline;
	font-weight: bold;
}


#angelaIntro, .accordion_panel div{
  padding: 25px 0;
}

.accordion_panel div img{
  padding: 1% 1%;
  width: 375px;
  height: auto;
}