/* global */
body {
	text-align: center;
	color: rgb(200,200,200);
	margin: 0;
	font-family: Verdana, Helvetica, Arial;
	font-size: 21px;
	background-color: rgb(35,35,40);
}

.navbar {
	overflow: hidden;
	background-color: rgb(25,25,30);
}

.navbar a {
	padding: 16px 18px;
	color: rgb(200,200,200);
	float: left;
	text-decoration: none;
	font-size: 19px;
	transition-duration: 0.15s;
}

.navbar a:hover {
	color: #FFFFFF;
	background-color: rgb(45,45,45);
	transition-duration: 0.15s;
	cursor: pointer;
}

.navbar a.selected {
	color: rgb(120,120,120);
	background-color: rgb(30,30,30);
	cursor: default;
}
	background-color: rgba(0,0,0,0.8);
	transition-duration: 0.45s;
}
